body {
  font-family: "Press Start 2P", cursive;
}

.home-banner,
.js-logo {
  width: auto;
  height: 10rem;
}

.intro-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start-btn,
.restart-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 15px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  /* -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px; */
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}
