body {
  font-family: "Press Start 2P", cursive;
  margin: 0%;
}

.home-banner,
.js-logo {
  width: auto;
  height: 10rem;
}

.intro-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #f7efe5;
}

.legal-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70vw;
  margin: 50px;
  font-size: 0.7rem;
}

button {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  margin: 5px;
  padding: 15px;
  border-radius: 7px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  box-shadow: 0 0.2em gray;
}

.correct-answer,
.incorrect-answer,
.answer-btn {
  margin: 10px;
}

.answer-btn {
  width: 200px;
  height: 50px;
  font-size: 0.7rem;
  text-shadow: none;
}

.correct-answer,
.incorrect-answer {
  padding: 15px;
  background-color: black;
}

.correct-answer {
  color: rgb(53, 236, 53);
}

.incorrect-answer {
  color: rgb(236, 62, 62);
}

.all-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 15px;
  line-height: 1.5rem;
  text-align: center;
}
